<!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Hosts</h3>
                        <ul>
                            <li><p> <a href="http://dainferncollege.co.za/">Dainfern College</a></p></li>
                            <li><p><a href="http://pioneeracademies.co.za/">Pioneer Academies</a></p></li>
                            <li><p><a href="http://leapschool.org.za/">LEAP Jane Furse</a></p></li>
                            <li><p><a href="http://www.schools4sa.co.za/school-profile/babati-primary/">Babati Primary School</a></p></li>
                            <li><p><a href="http://www.penryn.co.za/">Penryn College</a></p></li>
                            <li><p><a href="http://www.usutuprimary.ac.sz/">Usutu Forests Primary School</a></p></li>
                            <li><p><a href="http://inanda.org/">Inanda Seminary</a></p></li>
                            <li><p><a href="http://stirlingps.co.za/">Stirling Primary</a></p></li>
                            <li><p><a href="http://leapschool.org.za/">LEAP Cape Town</a></p></li>

                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Find. Follow. Watch.</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/edtechsummitafrica" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/+EdTechSummitSouthAfrica" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/edtechsummitsa" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://instagram.com/edtechsummitafrica" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>

                            <li><p>EdTech Summit Africa 2015</p></li>
                              <br>
                            <li><p><a href="http://edtechsummitsouthafrica.com"> Website 2014</a></p></li>
                        </ul>
                        <img class="text-centered" src="/img/location_graphic_blue.png" width="174">
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Partners</h3>
                        <ul>
                            <li><p> <a href="http://k2productions.com">K2 Productions Global</a></p></li>
                            <li><p><a href="http://leapschool.org.za/">LEAP Science and Maths Schools</a></p></li>
                            <li><p><a href="http://leapschool.org.za/aboutleap/leap-future-leaders/global-teachers-institute/">Global Teachers Institute</a></p></li>
                            <li><p><a href="http://teachwithafrica.org">Teach With Africa</a></p></li>
                        </ul>

                        <br>
                        <h4>With Much Thanks</h4>
                        <ul>
                            <li><p><a href="http://edunova.org/">Edunova</a></p></li>
                            <li><p><a href="http://singita.com/">Singita Sabi Sand</a></p></li>
                            <li><p><a href="http://www.penreach.org.za/">Penreach</a></p></li>
                            <li><p><a href="http://www.gartner.com/">Gartner, Inc.</a></p></li>
                            <li><p><a href="#">Willow Springs</a></p></li>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; EdTech Summit Africa 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!--<script> $("a").attr("target", "_blank");</script>-->

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/freelancer.js"></script>