 <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">EdTech Summit Africa 2015</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>

                    </li>

                      <li class="page-scroll" role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="registration/source/register.php" role="button" aria-expanded="false">
                            Attend <span class="caret"></span>   </a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://goo.gl/msi1JE" target="_blank">Register</a></li>
                                <div class="line1"></div>
                                <li> <a href="#">Survey</a></li>
                            </ul>
                      </li>


                      <li class="page-scroll" role="presentation" class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="https://bit.ly/1QlYMt5" role="button" aria-expanded="false">
                        Present <span class="caret"></span>   </a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://bit.ly/1QlYMt5">Apply</a></li>
                                <div class="line2"></div>
                                <li><a href="/presenting">Presenting</a></li>
                            </ul>

                      </li>

                      <li class="page-scroll" role="presentation" class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="https://bit.ly/1QlYMt5" role="button" aria-expanded="false">
                        About <span class="caret"></span>   </a>

                            <ul class="dropdown-menu submenu_style3" role="menu">
                                <li><a href="./about.html">EDTech</a></li>
                                <div class="line"></div>
                                <li> <a href="#">Partners</a></li>
                            </ul>

                      </li>



                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>